streamlit==1.20.0
streamlit-option-menu==0.3.2
image
cv2==4.7.0.72
image_function
find_thick_part
numpy
pandas==1.4.4
opencv-python-headless
matplotlib==3.7.0
time
os
rembg==2.0.3
PIL
joblib==1.1.0
scikit-learn==1.0.2
